################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GitDemo/FileContentIndex/32b3217d-d985-4ed8-974a-b7162f6af8aa.vsidx
/.vs/GitDemo/FileContentIndex/32b3217d-d985-4ed8-974a-b7162f6af8aa.vsidx
